<ion-header >
  <ion-navbar text-center color="primary">
    <ion-title>
      Heat Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <button ion-button color="primary" (click)='onMapLoad()'>Load Heat Map</button>
  <br>

  <div id='map'></div>
</ion-content>
